<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright <span id="demo"></span> The Awesome People</p>

<script>
    document.getElementById("demo").innerHTML = new Date().getFullYear();
</script>